@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

.fadeInAnimation{
    animation: 1s ease-out 0s 1 fadeIn;
  }

.article {
    max-width: 100vw;
    display: flex;
    flex-direction: column;

    /* animation: 1s ease-out 0s 1 fadeIn; */
}

.articleImg {
    max-height: 40vh;
} 

.articleMain{
    text-align: left;
    padding: 20px;
}

.articleBody{
    margin-top: 20px;
    flex:1;
}

.articleFooter{
    background-color: darkslategray;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 30px;
    font-size: 12px;
}

@media (min-width : 576px){

    .article .articleFooter{
      max-width: 400px;
    }

    .articleImg{
        height: 40%;
    }
}

